{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}

{% block aftercontainer %}
<div class="center-align">
    {% image '@AppBundle/Resources/public/img/cute-elefan.png' %}
        <img class="responsive-img" src="{{ asset_url }}" alt="elefan" />
    {% endimage %}
</div>
{% endblock %}

{% block content %}
<div id="home-announcements" class="center">
    {{ dynamicContent | markdown | raw | nl2br }}
</div>

<div id="home-welcome" class="row center">
    {% if app.user.beneficiary %}
        {% set member = app.user.beneficiary.membership %}

        <div class="col s12">
            <h4 class="header">
            </h4>
        </div>
                    <br />
                {% endif %}

            <div class="col s12 l6">
                <div class="homebox">
                    <div>
                            <p>
                                <i class="material-icons">warning</i>
                            </p>
                            <a href="{{ path("user_self_register") }}" class="waves-effect waves-light light-green btn">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="homebox">
                    <h5><span class="white">Mon compte</span></h5>
                    <div>
                        <a href="{{ path("fos_user_profile_show") }}" class="waves-effect waves-light blue-grey btn">
                            <i class="material-icons left">settings</i>Gérer mon compte
                        </a>
                    </a>
                            }
                        });

                <div class="row">
                    {% if events | length > 0 %}
                        <h5>Les événements</h5>
                        {% for event in events %}
                            {% include "default/event/_event.html.twig" with { event: event } %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if app.user.beneficiary and app.user.beneficiary.ownedCommissions | length %}
                    <div class="homebox">
                        <h5><span class="white">Mes commissions</h5>
                        {% for commission in app.user.beneficiary.ownedCommissions %}
                            <a href="{{ path("commission_edit",{'id': commission.id }) }}" class="waves-effect waves-light btn blue-grey">
                                Gérer la commission {{ commission.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.user.beneficiary and (app.user.beneficiary.membership | uptodate) and display_keys_shop %}
                    <div class="homebox">
                        <h5><span class="white"><i class="material-icons">build</i>&nbsp;Outils</span></h5>
                        {% if display_keys_shop %}
                            {{ render(controller("AppBundle:Code:homepageDashboard")) }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
                <div class="homebox">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
